//
//COLOURS

$white: #fff;
$active: #1dacf6;
$primary-text: #212226;
$gray: #545454;
$box-shadow: rgba(0, 0, 0, 0.15);
$black: #000;
$red-error: #de4e43;
$warning: #f28d35;
$success: #32c326;
$logo-secondary: #fffbcb;
